# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
project_env/
env/
venv/

# Text backup files
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code files
.vscode/

# PyCharm files
.idea/

# Jupyter Notebook metadata
*.ipynb

# MacOS metadata
.DS_Store

# Local history
.history/

# Log files
*.log

# Environmental variables
.env

# Python egg files
*.egg-info/
*.egg

# Archives
*.tar.gz
*.zip
*.rar
*.7z

# IDE specific files (optional based on the editor you use)
.vscode/
.idea/
